@helper HelperName(string name) {
    // Su aplicación auxiliar puede contener código o marcado, por ej.
    // var msg = "Hola " + name;
    // <p>@msg</p>
    // Para obtener más información, visite http://go.microsoft.com/fwlink/?LinkID=204658
}
