@{
    ViewBag.Title = "Captura Imagen";
}
<div class="jumbotron">
    <h1>Captura imagen</h1>
    <p class="lead">Es una aplicación que permite subir imagenes para procesar datos.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@   
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115895.16972260717!2d-107.49335492686136!3d24.80490084673935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcd6c77747f98f%3A0x8dd9ebf0eb2d23cc!2sCuliac%C3%A1n+Rosales%2C+Sin.!5e0!3m2!1ses-419!2smx!4v1477784835872" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@